USE [master]
GO
/****** Object:  Database [C:\USERS\DENIS\DOCUMENTS\GITHUB\EPAMTASK5\SRC\LIBRARY.INFRASTRUCTURE\DATA\LIBRARYDB.MDF]    Script Date: 15.12.2021 21:00:40 ******/
CREATE DATABASE [LIBRARYDB.MDF]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'LibraryDb', FILENAME = N'LibraryDb.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'LibraryDb_log', FILENAME = N'LibraryDb_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [C:\USERS\DENIS\DOCUMENTS\GITHUB\EPAMTASK5\SRC\LIBRARY.INFRASTRUCTURE\DATA\LIBRARYDB.MDF].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [LIBRARYDB.MDF]
GO
USE [LIBRARYDB.MDF]
GO
/****** Object:  Table [dbo].[AbonentsBooksTable]    Script Date: 15.12.2021 21:00:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AbonentsBooksTable](
	[Id] [int] NOT NULL,
	[BookId] [int] NOT NULL,
	[TakenDate] [datetime] NULL,
	[StateId] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AbonentTable]    Script Date: 15.12.2021 21:00:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AbonentTable](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Surname] [nvarchar](50) NOT NULL,
	[Patronymic] [nvarchar](50) NOT NULL,
	[GenderId] [int] NOT NULL,
	[BirthDate] [datetime] NOT NULL,
 CONSTRAINT [PK_AbonentTable] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AuthorTable]    Script Date: 15.12.2021 21:00:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AuthorTable](
	[Id] [int] NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Surname] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_AuthorTable] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BookAuthorsTable]    Script Date: 15.12.2021 21:00:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BookAuthorsTable](
	[Id] [int] NOT NULL,
	[AuthorId] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BookTable]    Script Date: 15.12.2021 21:00:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BookTable](
	[Id] [int] IDENTITY(0,1) NOT NULL,
	[Title] [nvarchar](50) NOT NULL,
	[GenreId] [int] NULL,
 CONSTRAINT [PK_BookTable] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GenderType]    Script Date: 15.12.2021 21:00:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GenderType](
	[Id] [int] NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_GenderType] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GenreTable]    Script Date: 15.12.2021 21:00:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GenreTable](
	[Id] [int] IDENTITY(0,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_GenreTable] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StatesTable]    Script Date: 15.12.2021 21:00:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StatesTable](
	[Id] [int] IDENTITY(0,1) NOT NULL,
	[Value] [nvarchar](50) NULL,
 CONSTRAINT [PK_BookStatesTable] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[AbonentsBooksTable] ([Id], [BookId], [TakenDate], [StateId]) VALUES (2, 0, CAST(N'2021-01-05T00:00:00.000' AS DateTime), 3)
INSERT [dbo].[AbonentsBooksTable] ([Id], [BookId], [TakenDate], [StateId]) VALUES (2, 1, CAST(N'2003-05-02T00:00:00.000' AS DateTime), 1)
INSERT [dbo].[AbonentsBooksTable] ([Id], [BookId], [TakenDate], [StateId]) VALUES (4, 0, CAST(N'2020-01-05T00:00:00.000' AS DateTime), 1)
GO
SET IDENTITY_INSERT [dbo].[AbonentTable] ON 

INSERT [dbo].[AbonentTable] ([Id], [Name], [Surname], [Patronymic], [GenderId], [BirthDate]) VALUES (2, N'Denis', N'Kulakovskiy', N'Vyacheslavovich', 0, CAST(N'2003-01-06T00:00:00.000' AS DateTime))
INSERT [dbo].[AbonentTable] ([Id], [Name], [Surname], [Patronymic], [GenderId], [BirthDate]) VALUES (4, N'Vasya', N'Pupkin', N'Pupkovich', 0, CAST(N'2005-06-02T00:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[AbonentTable] OFF
GO
INSERT [dbo].[AuthorTable] ([Id], [Name], [Surname]) VALUES (0, N'William', N'Shakespeare')
INSERT [dbo].[AuthorTable] ([Id], [Name], [Surname]) VALUES (1, N'Jack', N'London')
GO
INSERT [dbo].[BookAuthorsTable] ([Id], [AuthorId]) VALUES (0, 0)
INSERT [dbo].[BookAuthorsTable] ([Id], [AuthorId]) VALUES (0, 1)
INSERT [dbo].[BookAuthorsTable] ([Id], [AuthorId]) VALUES (2, 1)
GO
SET IDENTITY_INSERT [dbo].[BookTable] ON 

INSERT [dbo].[BookTable] ([Id], [Title], [GenreId]) VALUES (0, N'Red hat', 0)
INSERT [dbo].[BookTable] ([Id], [Title], [GenreId]) VALUES (1, N'Hamlet', 0)
INSERT [dbo].[BookTable] ([Id], [Title], [GenreId]) VALUES (2, N'The son of the wold', 1)
SET IDENTITY_INSERT [dbo].[BookTable] OFF
GO
INSERT [dbo].[GenderType] ([Id], [Name]) VALUES (0, N'Male')
INSERT [dbo].[GenderType] ([Id], [Name]) VALUES (1, N'Female')
GO
SET IDENTITY_INSERT [dbo].[GenreTable] ON 

INSERT [dbo].[GenreTable] ([Id], [Name]) VALUES (0, N'Adventure')
INSERT [dbo].[GenreTable] ([Id], [Name]) VALUES (1, N'Detective')
SET IDENTITY_INSERT [dbo].[GenreTable] OFF
GO
SET IDENTITY_INSERT [dbo].[StatesTable] ON 

INSERT [dbo].[StatesTable] ([Id], [Value]) VALUES (0, N'NotReturned')
INSERT [dbo].[StatesTable] ([Id], [Value]) VALUES (1, N'Excellent')
INSERT [dbo].[StatesTable] ([Id], [Value]) VALUES (2, N'Satisfactory')
SET IDENTITY_INSERT [dbo].[StatesTable] OFF
GO
ALTER TABLE [dbo].[AbonentsBooksTable]  WITH CHECK ADD  CONSTRAINT [FK_AbonentsBooksTable_AbonentTable] FOREIGN KEY([Id])
REFERENCES [dbo].[AbonentTable] ([Id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AbonentsBooksTable] CHECK CONSTRAINT [FK_AbonentsBooksTable_AbonentTable]
GO
ALTER TABLE [dbo].[AbonentsBooksTable]  WITH CHECK ADD  CONSTRAINT [FK_AbonentsBooksTable_BookTable] FOREIGN KEY([BookId])
REFERENCES [dbo].[BookTable] ([Id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AbonentsBooksTable] CHECK CONSTRAINT [FK_AbonentsBooksTable_BookTable]
GO
ALTER TABLE [dbo].[AbonentsBooksTable]  WITH CHECK ADD  CONSTRAINT [FK_AbonentsBooksTable_StatesTable] FOREIGN KEY([StateId])
REFERENCES [dbo].[StatesTable] ([Id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AbonentsBooksTable] CHECK CONSTRAINT [FK_AbonentsBooksTable_StatesTable]
GO
ALTER TABLE [dbo].[AbonentTable]  WITH CHECK ADD  CONSTRAINT [FK_AbonentTable_GenderType] FOREIGN KEY([GenderId])
REFERENCES [dbo].[GenderType] ([Id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AbonentTable] CHECK CONSTRAINT [FK_AbonentTable_GenderType]
GO
ALTER TABLE [dbo].[BookAuthorsTable]  WITH CHECK ADD  CONSTRAINT [FK_BookAuthorsTable_AuthorTable] FOREIGN KEY([AuthorId])
REFERENCES [dbo].[AuthorTable] ([Id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[BookAuthorsTable] CHECK CONSTRAINT [FK_BookAuthorsTable_AuthorTable]
GO
ALTER TABLE [dbo].[BookAuthorsTable]  WITH CHECK ADD  CONSTRAINT [FK_BookAuthorsTable_BookTable] FOREIGN KEY([Id])
REFERENCES [dbo].[BookTable] ([Id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[BookAuthorsTable] CHECK CONSTRAINT [FK_BookAuthorsTable_BookTable]
GO
ALTER TABLE [dbo].[BookTable]  WITH CHECK ADD  CONSTRAINT [FK_BookTable_GenreTable] FOREIGN KEY([GenreId])
REFERENCES [dbo].[GenreTable] ([Id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[BookTable] CHECK CONSTRAINT [FK_BookTable_GenreTable]
GO
USE [master]
GO
